div.cursor {
	/* animation: 25s linear infinite alternate bp-animation;
	background: linear-gradient(rgb(226, 84, 84), yellow, lime, cyan, rgb(182, 110, 255));
	background-size: 100% 1000%;
	border-radius: 2px; */
	overflow: visible !important;
}

div.cursor::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: inherit;
	background-size: 100% 1000%;
	border-radius: 3px;
	transform: scale(140%, 120%);
	filter: blur(4px) brightness(200%);
	z-index: 0;
}

/* @keyframes bp-animation {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 0 200%;
	}
	40% {
		background-position: 0 400%;
	}
	60% {
		background-position: 0 600%;
	}
	80% {
		background-position: 0 800%;
	}
	100% {
		background-position: 0 1000%;
	}
} */


/* span.mtk16 {
	text-shadow: 0 0 20px #4ec9b0;
} */

/* div.active-line-number {
	--vscode-editorLineNumber-activeForeground: #fff !important;
	text-shadow: 0 0 20px #fff;
} */

div.quick-input-widget {
	--vscode-quickInput-background: transparent !important;
	backdrop-filter: blur(20px) brightness(140%);
}

/* div.monaco-inputbox {
	--vscode-input-background: transparent !important;
} */

/* div.focused {
	--vscode-quickInputList-focusBackground: #04395e80 !important;
} */

div.sticky-widget {
	--vscode-editorStickyScroll-background: transparent !important;
	backdrop-filter: blur(20px) brightness(110%);
}

div.suggest-widget {
	--vscode-editorSuggestWidget-background: transparent !important;
	backdrop-filter: blur(20px) brightness(110%);
}

div.monaco-hover {
	--vscode-editorHoverWidget-background: transparent !important;
	backdrop-filter: blur(20px) brightness(110%);
}
